<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/users/css/styles.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
    />

    <title>Document</title>
  </head>
  <body>
    <div class="navbar">
      <a href="#" class="logo">
        <span class="sound">Sound</span><span class="tune">Tune</span>
      </a>
      <div class="nav-links">
        <a href="#login" class="btn">Sign In</a>
        <a href="#favourites" class="btn btn-primary">My Favourites</a>
      </div>
    </div>
    <div class="headings">
      <h1 class="soundtune-main animate-float">
        <span class="sound">Sound</span><span class="tune">Tune</span>
      </h1>
      <h2 class="mood-main">What mood are you in today?</h2>
    </div>
    <div class="options-container">
      <div class="option-card">
        <div class="option-icon"><i class="fa-solid fa-music"></i></div>
        <h3 class="option-title">Music Genres</h3>
        <p class="option-desc">Find music by genre</p>
      </div>
      <div class="option-card">
        <div class="option-icon"><i class="fa-regular fa-heart"></i></div>
        <h3 class="option-title">Emotional Mood</h3>
        <p class="option-desc">Match your feelings</p>
      </div>
      <div class="option-card">
        <div class="option-icon"><i class="fa-solid fa-chart-line"></i></div>
        <h3 class="option-title">Activity</h3>
        <p class="option-desc">Music for what you do</p>
      </div>
    </div>
  </body>
</html>
