<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../static/users/css/styles.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="navbar">
      <a href="#" class="logo">
        <span class="sound">Sound</span><span class="tune">Tune</span>
      </a>
      <div class="nav-links">
        <a href="#signin" class="btn">Sign In</a>
        <a href="#favourites" class="btn btn-primary">My Favourites</a>
      </div>
    </div>
    <div class="headings">
      <h1 class="soundtune-main animate-float">
        <span class="sound">Sound</span><span class="tune">Tune</span>
      </h1>
      <h2 class="mood-main">What mood are you in today?</h2>
    </div>
  </body>
</html>
