body {
  height: 100%;
  margin: 0;
  background: linear-gradient(
    to bottom,
    hsla(40 95% 75%) 0%,
    hsla(20 90% 60%) 100%
  );
  background-attachment: fixed;
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.navbar {
  display: flex;
  justify-content: space-between; /* space between navbar sections */
  align-items: center;
  padding: 25px 40px;
  background-color: transparent;
}

.navbar a {
  text-decoration: none;
  color: white;
}

.nav-links {
  display: flex;
  gap: 15px;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.logo .sound {
  color: white;
}

.logo .tune {
  color: hsla(20 90% 60%);
}

.btn {
  color: hsla(0, 0%, 100%, 1);
  padding: 8px 16px;
  border-radius: 6px;
  text-decoration: none;
  font-weight: 500;
  border: 1.5px solid transparent;
  border-color: hsla(0, 0%, 100%, 0.4);
  background-color: hsla(0, 0%, 100%, 0.1);
}

.btn-primary {
  background: linear-gradient(
    to bottom right,
    hsla(20, 90%, 60%, 1) 0%,
    hsla(340, 75%, 70%, 1) 100%
  );
}

/* Main Headings */
.headings {
  justify-items: center;
}
.soundtune-main {
  font-size: 70px;
  margin-top: 8rem;
  margin-bottom: 1.5rem;
}
.headings .sound {
  color: white;
}
.headings .tune {
  color: hsla(20 90% 60%);
}
.mood-main {
  font-size: 30px;
  line-height: 2rem;
  color: hsla(0, 0%, 100%, 0.8);
  font-weight: 500;
  margin-top: 0px;
}

/* Soundtune ANIMATE */
@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}
.animate-float {
  animation: float 3s ease-in-out infinite;
}

/* Option cards */
.options-container {
  display: flex;
  justify-content: center;
  align-items: stretch;
  gap: 2rem;
  flex-wrap: wrap;
  margin-top: 3rem;
}
.option-card {
  flex: 1;
  display: flex;
  flex-direction: column;
  max-width: 140px;
  min-width: 100px;
  align-items: center;
  gap: 0.75rem;
  padding: 1.5rem;
  height: auto;
  border-radius: 0.75rem;
  background-color: rgba(255, 255, 255, 0.1);
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 0.75rem;
}
.option-title {
  color: white;
  font-weight: 500;
  margin-bottom: 0;
  margin-top: 0;
  font-size: 18px;
}
.option-desc {
  color: white;
  font-weight: 400;
  margin-top: 0;
  font-size: 12px;
}

.option-icon {
  margin-bottom: 0;
  color: white;
  font-size: 25px;
}
